:root{
    --color_light__grey: #d9d9d9;
    --color_dark__grey: #a3a3a3;
}

*{
    margin: 0;
    padding: 0;
}

.d-flax{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 1000px;
    border: 5px solid var(--color_dark__grey);
    margin: 0 auto;
    padding: 5px;
    border-radius: 5px;
    box-sizing: border-box;
}

.header, .main_left__header{
    height: 150px;
    background-color: var(--color_light__grey);
}

.main{
    margin-top: 5px;
    display: flex;
    column-gap: 5px;
}

.main_left__content{
    display: flex;
    column-gap: 5px;
}

.main_left__item{
    width: 33.33%;
    height: 150px;
    background-color: var(--color_light__grey);
}

.main_left{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 80%;
}

.main_right{
    background-color: var(--color_light__grey);
    flex-grow: 1;
}