

.header__nav,
.media-header__nav{
    background: #0F2438;
}

.dropdown-toggle::after {
    display: none;
}

.nav-link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.header__bottom {
    padding: 32px;
    justify-content: center;
    align-items: baseline;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.logo{
    margin-right: 80px;
}

.logo_describe h2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #0F2438;
    margin: 4px;
}

.logo_describe p {
    width: 168px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #0F2438;
}

.time-text p,
.map p {
    margin: 6px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px; /* or 143% */
    text-align: right;
    color: #0F2438;
}

.btn-panel{
    display: flex;
}

.wa-btn,
.wa-btn-media{
    width: 204px;
    height: 30px;
    background: #E1EFD0;
    border: none;
    border-radius: 2px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
}

.wa-btn-media{
    display: none;
}
.numbers{
    display: flex;
    flex-direction: column;
    align-items: end;
}
.my-number {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #0F2438;
    margin-bottom: 0;
}

.call-me {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-decoration-line: underline;
    color: #0F2438;
    opacity: 0.7;
    margin-top: 0;
    margin-bottom: 5px;
    padding: 0;
}

.header__find {
    margin-top: 35px;
}

.input-group > .form-control, .input-group > .form-select {
    width: 350px;
    font-size: 14px;
    border: none;
    background: #F4F5FA;
}

.btn_ico {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    padding-left: 32px;
    padding-right: 32px;
    display: flex;
    align-items: center;
    margin-right: 30px;
    background-color: #005BB9;
}

.btn_ico span {
    margin-right: 12px;
    display: flex;
    flex-direction: column;
    row-gap: 2px;
    align-items: center;
}

.btn_ico span > div {
    width: 20px;
    height: 3px;
    background: #FFFFFF;
}

.input-group input {
    background-color: #F4F5FA;;
    border: none;
    border-radius: 4px 0 0 4px;
    padding: 10px;
    width: 449px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #C2C5DA;
}

.input-group-text {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    background: #005BB9;
}

.search .input-group-sm{
    display: none;
}




.btn-user,
.btn-saved,
.btn-cart {
    background: none;
    align-items: center;
    border: none;
    border-right: 1px solid #E1E5F8;
    width: 165px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #0F2438;
}

.btn-cart {
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #0F2438;
    text-align: end;
}

.main_block {
    padding-top: 30px;
    /*padding: 30px  280px 70px   280px;*/
}

.carousel-stock {
    border-radius: 20px;
}

.carousel-item {
    border-radius: 20px;
    display: flex;
    justify-content: end;
    height: 390px;
    /*background-image: url("../img/circle_bg.png");*/
}

.carousel-item-1 {
    background-image: url("../img/circle_bg.png");
}
.carousel-item-2 {
    background-image: url("../img/circle_bg2.png");
}
.carousel-item-3 {
    background-image: url("../img/circle_bg3.png");
}

.carousel-item__title {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;

    color: #0A1A2C;
}

.carousel-item__brand {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-decoration-line: underline;
    color: #717171;
}

.carousel-item__price {
    font-style: normal;
    font-weight: 500;
    font-size: 37px;
    line-height: 43px;
    color: #005BB9;
}

.carousel-item__old-price {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    text-decoration-line: line-through;
    color: #C2C5DA;
}

.carousel-caption {
    position: static;
    padding-top: 120px;
    color: #fff;
    text-align: center;
}


.carousel-btn {
    padding: 0 30px;
    width: 160px;
    height: 49px;
    left: 428px;
    top: 515px;
    background: #005BB9;
    border-radius: 6px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}


.carousel-control-prev-icon {
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FFFFFF;
    background-image: url("../img/Chevron_left.png");
}

.carousel-control-next-icon {
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FFFFFF;
    background-image: url("../img/Chevron_right.png");
}

.carousel-indicators li.active {
    background-color: black;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid black;
}

.carousel-indicators [data-bs-target] {
    width: 14px;
    height: 14px;
    background-color: #fff;
    border-radius: 50%;
    margin: 0 11px;
    border: 1px solid #FFFFFF;
}

.carousel-indicators [data-bs-target]:hover {
    border-color: black;
    border-right-color: #FFFFFF;
}

.carousel-indicators li.active:hover {
    border-color: black;
}

.new_items {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.new-product {
    background: #F4F5FA;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.new-product h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #0F2438;
}

.new-product__name h5 {
    width: 186px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    color: #0A1A2C;
}

.new-product__name p {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #525252;
}

.new-product__price {
    margin-left: 80px;
    align-items: center;
}

.new-product__price h5 {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #FFB800;
    margin: 0 5px;

}

.new-product__price p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: line-through;
    color: #C2C5DA;
    margin-bottom: 0;
}

.new-product__price button {
    margin-left: 15px;
}
.special-items{
    margin-top: 70px;
}

.my_carousel__items {
    column-gap: 30px;
    flex-grow: 1;
}

.special {
    flex-grow: 1;
    background: #FFFFFF;
    border: 1px solid #E1E5F8;
    box-sizing: border-box;
    border-radius: 6px;
}

.special__describe {
    margin: 30px;
}

.special__describe h5 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #0A1A2C;
}

.special__describe ul {
    list-style: none;
    padding: 0;
}


.special__describe li {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #0A1A2C;
}

.special__describe button {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.my_carousel {
    margin: 0 -20px;
    align-items: center;
}

.my_carousel::before,
.my_carousel::after {
    content: "";
    display: block;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    background-color: #FFFFFF;
    z-index: 2;
}

.my_carousel::before {
    margin-right: -20px;
    background-image: url("../img/Chevron_left.png");
}

.my_carousel::after {
    margin-left: -20px;
    background-image: url("../img/Chevron_right.png");
}

.best-products {
    margin-top: 70px;
    margin-bottom: 70px;
}

.btn-outline-primary {
    border: 2px solid #005BB9;
    box-sizing: border-box;
    border-radius: 6px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #005BB9;
}

.btn-primary {
    background: #005BB9;
    border-radius: 6px;
}

.product {
    margin-top: 34px;
    /*border-bottom: 1px solid #E1E5F8;*/
    height: 470px;
}

.product-reit {
    margin-top: 20px;
    align-items: center;
}

.product-reit div {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFB800;
}

.product-reit span {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #B0B0B0;
    padding-left: 5px;
}

.product-name {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height, or 125% */
    color: #0A1A2C;
    margin-top: 10px;
}

.product-price {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #000000;
    margin-top: 46px;
    height: 20px;
}

.product-price a {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    text-decoration-line: underline;
    color: #005BB9;
    margin-left: 5px;
}

.product__bye {
    margin-top: 20px;
    margin-bottom: 40px;
}

.product__bye > img {
    margin-left: 20px;
}

.product__bye button {
    align-items: center;
}

.price-active {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #FFB800;
}

.price-active a {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: line-through;
    color: #C2C5DA;
}

.product-preview {
    height: 235px;
}

.product_sale{
    position: absolute;
    background: #FFB800;
    border-radius: 2px;
    z-index: 2;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    padding: 3px 5px;
}

.product-preview > img {
    position: absolute;
}

.product:hover {
    background-color: #f0f0ff;
}


.best-products__more button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 187px;
    height: 49px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #005BB9;

    margin-top: 20px;
}

.best-products_cards hr {
    color: #E1E5F8;
}

.best-products__more button{
    background: #FFFFFF;
    border: 2px solid #005BB9;
    box-sizing: border-box;
    border-radius: 6px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #005BB9;
}

.what-s-new > p {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.news-line {
    height: 9px;
    margin-bottom: -9px;
    background: #F5F5F5;
}

.news-line{
    padding: 0 30px;
}

.circle {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: #0C1A2A;
    margin: 0 46px;
}
.line{
    width: 1px;
    height: 20px;
    background: #0C1A2A;
    margin: 0 50px;
}

.date{
    width: 106px;
    height: 22px;
    background: #0C1A2A;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding-top: 2px;
    padding-bottom: 3px;
}

.news-item p{
    margin-bottom: 0;
    margin-top:  20px;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #242424;
}
.news-item ul{
    list-style: none;
    padding:  0;
}

.footer ul{
    list-style: none;
    padding:  0;
}

.footer{
    background: #0C1A2A;
    padding-top: 36px;
}

.cr{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #737E9B;
    padding-bottom: 18px;

}

.catalog{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #868DAC;
    max-width: 260px;
    min-width: 180px;
    margin-bottom: 14px;
}

.catalog li,
.catalog div{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    margin-bottom: 14px;
}

.footer_left{
    column-gap: 45px;
    margin-right: 10px;
}

.small-mg{
    margin-bottom: 0!important;
}

.write2us-btn {
    flex-wrap: nowrap;
    width: 430px;
    border: 1px solid #203246;
    box-sizing: border-box;
    border-radius: 6px;
}

.input-group > .form-control{
    background: none;
    border: 1px solid #203246;
}

.write2us-btn span{
    border: #005BB9;
    border-radius: 0 6px 6px 0;
}

.social{
    margin-top: 24px;
    display: flex;
    justify-content: end;
    column-gap: 55px;
}

.footer-txt-wh{
    width: 430px;
}

.write2us{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #858CAB;
}

.write2us span{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.city{
    width: 320px;
    padding: 10px 30px;
}

.city button{
    margin-left: 90px;
    position: absolute;
}

.city-ig {
    margin: 15px auto;
    border: none;
    background: #F4F5FA;
}

.city input{
    border: none;
}

.dropdown-item{
    margin-left: 0;
    padding-left: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #0F2438;
}

.ddi-active{
    color: #005BB9;
}



.cr-media-lg{
    display: block;
}

.cr-media-sm{
    display: none;
}